/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'itnicons';
  src:
    url('https://d3beo87skfz9b9.cloudfront.net/2zz2zPCSUdB5RNkuUQQsVssg7HT/md71xhr4m9i29b0ctx.ttf') format('truetype'),
    url('https://d3beo87skfz9b9.cloudfront.net/2zz2zPCSUdB5RNkuUQQsVssg7HT/md71xhr5jhlvjxinfy.woff') format('woff'),
    url('./itnicons.svg?2pq66s#itnicons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="itn-icon-"], [class*=" itn-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'itnicons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.itn-icon-rebates:before {
  content: "\ea5d";
}
.itn-icon-zoom-in:before {
  content: "\ea5e";
}
.itn-icon-horizontal-view:before {
  content: "\ea5f";
}
.itn-icon-vertical-view:before {
  content: "\ea60";
}
.itn-icon-zoom-out:before {
  content: "\ea61";
}
.itn-icon-alpha-sort:before {
  content: "\ea5c";
}
.itn-icon-revup-support:before {
  content: "\ea5b";
}
.itn-icon-external-vendor:before {
  content: "\ea5a";
}
.itn-icon-shopping-list:before {
  content: "\ea58";
}
.itn-icon-classifications:before {
  content: "\ea59";
}
.itn-icon-itrade-price:before {
  content: "\ea57";
}
.itn-icon-card:before {
  content: "\ea56";
}
.itn-icon-telegram:before {
  content: "\ea55";
}
.itn-icon-uploaded-img:before {
  content: "\ea54";
}
.itn-icon-open-link-download:before {
  content: "\ea53";
}
.itn-icon-Close:before {
  content: "\ea4e";
  color: #687576;
}
.itn-icon-Copy:before {
  content: "\ea4f";
  color: #687576;
}
.itn-icon-Send:before {
  content: "\ea50";
  color: #687576;
}
.itn-icon-Stop:before {
  content: "\ea51";
}
.itn-icon-Sparkles:before {
  content: "\ea52";
  color: #f1aa48;
}
.itn-icon-invoice-right:before {
  content: "\ea4d";
}
.itn-icon-step-backward .path1:before {
  content: "\ea45";
  color: rgb(236, 236, 236);
}
.itn-icon-step-backward .path2:before {
  content: "\ea46";
  margin-left: -1em;
  color: rgb(68, 83, 84);
}
.itn-icon-step-backward-disabled .path1:before {
  content: "\ea47";
  color: rgb(236, 236, 236);
}
.itn-icon-step-backward-disabled .path2:before {
  content: "\ea48";
  margin-left: -1em;
  color: rgb(198, 203, 203);
}
.itn-icon-step-forward-disabled .path1:before {
  content: "\ea49";
  color: rgb(236, 236, 236);
}
.itn-icon-step-forward-disabled .path2:before {
  content: "\ea4a";
  margin-left: -1em;
  color: rgb(198, 203, 203);
}
.itn-icon-step-forward .path1:before {
  content: "\ea4b";
  color: rgb(236, 236, 236);
}
.itn-icon-step-forward .path2:before {
  content: "\ea4c";
  margin-left: -1em;
  color: rgb(68, 83, 84);
}
.itn-icon-pickup-filled:before {
  content: "\ea43";
}
.itn-icon-dropoff-filled:before {
  content: "\ea44";
  color: #0336ff;
}
.itn-icon-rectange-refresh:before {
  content: "\ea42";
}
.itn-icon-export-attachment:before {
  content: "\ea40";
}
.itn-icon-upload-img:before {
  content: "\ea41";
}
.itn-icon-RPC:before {
  content: "\ea3e";
}
.itn-icon-RPP:before {
  content: "\ea3f";
}
.itn-icon-spend1:before {
  content: "\ea3d";
}
.itn-icon-admin-service:before {
  content: "\ea2f";
}
.itn-icon-date:before {
  content: "\ea30";
}
.itn-icon-exclusion-inclusion:before {
  content: "\ea31";
}
.itn-icon-freight1:before {
  content: "\ea32";
}
.itn-icon-integration1:before {
  content: "\ea33";
}
.itn-icon-megaphone:before {
  content: "\ea34";
}
.itn-icon-oms:before {
  content: "\ea35";
}
.itn-icon-org-manager:before {
  content: "\ea36";
}
.itn-icon-package:before {
  content: "\ea37";
}
.itn-icon-price-module:before {
  content: "\ea38";
}
.itn-icon-produce-contracts:before {
  content: "\ea39";
}
.itn-icon-retail:before {
  content: "\ea3a";
}
.itn-icon-tru-tac:before {
  content: "\ea3b";
}
.itn-icon-uil_tag-alt:before {
  content: "\ea3c";
}
.itn-icon-date-time:before {
  content: "\e9a8";
}
.itn-icon-support:before {
  content: "\e98b";
}
.itn-icon-open-in-new-tab:before {
  content: "\e974";
}
.itn-icon-activity1:before {
  content: "\ea2e";
  color: #445354;
}
.itn-icon-new-activity-filled .path1:before {
  content: "\ea2a";
  color: rgb(3, 132, 135);
}
.itn-icon-new-activity-filled .path2:before {
  content: "\ea2d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.itn-icon-split:before {
  content: "\ea2c";
}
.itn-icon-edit-alt:before {
  content: "\ea2b";
}
.itn-icon-new-activity .path1:before {
  content: "\ea28";
  color: rgb(3, 54, 255);
}
.itn-icon-new-activity .path2:before {
  content: "\ea29";
  margin-left: -1em;
  color: rgb(243, 163, 58);
}
.itn-icon-order-guide:before {
  content: "\ea27";
}
.itn-icon-archive:before {
  content: "\ea26";
}
.itn-icon-receiving:before {
  content: "\ea23";
}
.itn-icon-create-receipt:before {
  content: "\ea24";
}
.itn-icon-edit-receipt:before {
  content: "\ea25";
}
.itn-icon-dot:before {
  content: "\ea1c";
}
.itn-icon-file-late:before {
  content: "\ea1d";
}
.itn-icon-file-quality:before {
  content: "\ea1e";
}
.itn-icon-item-contracted:before {
  content: "\ea1f";
}
.itn-icon-org-type:before {
  content: "\ea20";
}
.itn-icon-repeating:before {
  content: "\ea21";
}
.itn-icon-sync:before {
  content: "\ea22";
}
.itn-icon-vendor:before {
  content: "\ea0c";
}
.itn-icon-switch:before {
  content: "\ea0d";
}
.itn-icon-rfq:before {
  content: "\ea0e";
}
.itn-icon-product-icon:before {
  content: "\ea0f";
}
.itn-icon-map-alt:before {
  content: "\ea10";
}
.itn-icon-layers-less:before {
  content: "\ea11";
}
.itn-icon-layers:before {
  content: "\ea12";
}
.itn-icon-grid-regular:before {
  content: "\ea13";
}
.itn-icon-grid-compact:before {
  content: "\ea14";
}
.itn-icon-grid-cards:before {
  content: "\ea15";
}
.itn-icon-file-graph:before {
  content: "\ea16";
}
.itn-icon-defer:before {
  content: "\ea17";
}
.itn-icon-contract:before {
  content: "\ea18";
}
.itn-icon-carma:before {
  content: "\ea19";
}
.itn-icon-buyer:before {
  content: "\ea1a";
}
.itn-icon-add-user:before {
  content: "\ea1b";
}
.itn-icon-manufactor:before {
  content: "\ea00";
}
.itn-icon-star-half-alt:before {
  content: "\e952";
}
.itn-icon-map-need-review:before {
  content: "\e970";
  color: #2196f3;
}
.itn-icon-comparison:before {
  content: "\e9f9";
}
.itn-icon-bp:before {
  content: "\e9fb";
}
.itn-icon-dropship:before {
  content: "\e914";
}
.itn-icon-iTraceFresh:before {
  content: "\e915";
}
.itn-icon-list-inactive:before {
  content: "\e916";
}
.itn-icon-beverage:before {
  content: "\e93f";
}
.itn-icon-bread:before {
  content: "\e949";
}
.itn-icon-corn:before {
  content: "\e965";
}
.itn-icon-dairy:before {
  content: "\e96e";
}
.itn-icon-delayed-loads:before {
  content: "\e96f";
}
.itn-icon-fruits:before {
  content: "\e971";
}
.itn-icon-grains:before {
  content: "\e972";
}
.itn-icon-grow:before {
  content: "\e973";
}
.itn-icon-in-transit:before {
  content: "\e9a0";
}
.itn-icon-leafy-greens:before {
  content: "\e9a2";
}
.itn-icon-list-active:before {
  content: "\e9ae";
}
.itn-icon-list-all:before {
  content: "\e9fd";
}
.itn-icon-list-deleted:before {
  content: "\e9fe";
}
.itn-icon-list-draft:before {
  content: "\e9ff";
}
.itn-icon-list-soldout:before {
  content: "\ea01";
}
.itn-icon-oils:before {
  content: "\ea02";
}
.itn-icon-Placeholder:before {
  content: "\ea03";
}
.itn-icon-prepared:before {
  content: "\ea04";
}
.itn-icon-proteins:before {
  content: "\ea05";
}
.itn-icon-receiving-wh:before {
  content: "\ea06";
}
.itn-icon-rejected-loads:before {
  content: "\ea07";
}
.itn-icon-seafood:before {
  content: "\ea08";
}
.itn-icon-shipping-wh:before {
  content: "\ea09";
}
.itn-icon-vegetables-frozen:before {
  content: "\ea0a";
}
.itn-icon-vegetables-shelfsafe:before {
  content: "\ea0b";
}
.itn-icon-grow-alt:before {
  content: "\e9fc";
}
.itn-icon-barcode-scan:before {
  content: "\e9da";
}
.itn-icon-bookmark-filled:before {
  content: "\e9db";
}
.itn-icon-check-circle-filled:before {
  content: "\e9dc";
}
.itn-icon-globe:before {
  content: "\e9dd";
}
.itn-icon-health:before {
  content: "\e9de";
}
.itn-icon-heark-break:before {
  content: "\e9df";
}
.itn-icon-integration-rejections:before {
  content: "\e9e0";
}
.itn-icon-label:before {
  content: "\e9e1";
}
.itn-icon-label-filled:before {
  content: "\e9e2";
}
.itn-icon-microphone:before {
  content: "\e9e3";
}
.itn-icon-number:before {
  content: "\e9e4";
}
.itn-icon-print:before {
  content: "\e9e5";
}
.itn-icon-reply:before {
  content: "\e9e6";
}
.itn-icon-save:before {
  content: "\e9e7";
}
.itn-icon-send:before {
  content: "\e9e8";
}
.itn-icon-android:before {
  content: "\e9e9";
}
.itn-icon-android-alt:before {
  content: "\e9ea";
}
.itn-icon-apple:before {
  content: "\e9eb";
}
.itn-icon-apple-alt:before {
  content: "\e9ec";
}
.itn-icon-facebook:before {
  content: "\e9ed";
}
.itn-icon-facebook-alt:before {
  content: "\e9ee";
}
.itn-icon-instagram:before {
  content: "\e9ef";
}
.itn-icon-instagram-alt:before {
  content: "\e9f0";
}
.itn-icon-linkedin:before {
  content: "\e9f1";
}
.itn-icon-linkedin-alt:before {
  content: "\e9f2";
}
.itn-icon-twitter:before {
  content: "\e9f3";
}
.itn-icon-twitter-alt:before {
  content: "\e9f4";
}
.itn-icon-hospital:before {
  content: "\e9f5";
}
.itn-icon-map:before {
  content: "\e9f6";
}
.itn-icon-received-short:before {
  content: "\e9f7";
}
.itn-icon-shipped-short:before {
  content: "\e9f8";
}
.itn-icon-my-product:before {
  content: "\e9fa";
}
.itn-icon-favorite-filled:before {
  content: "\e9d8";
}
.itn-icon-favorite-half-fill:before {
  content: "\e9d9";
}
.itn-icon-file-check:before {
  content: "\e9d5";
}
.itn-icon-file-cross:before {
  content: "\e9d6";
}
.itn-icon-export:before {
  content: "\e9d7";
}
.itn-icon-loads-in-transit:before {
  content: "\e9d4";
}
.itn-icon-accounts-payable:before {
  content: "\e900";
}
.itn-icon-accounts-receiving:before {
  content: "\e901";
}
.itn-icon-activity:before {
  content: "\e902";
  color: #2C3A3A;
}
.itn-icon-add:before {
  content: "\e903";
}
.itn-icon-add-comment:before {
  content: "\e904";
}
.itn-icon-add-photo:before {
  content: "\e905";
}
.itn-icon-alert:before {
  content: "\e906";
}
.itn-icon-arriving-today:before {
  content: "\e907";
}
.itn-icon-arriving-tomorrow:before {
  content: "\e908";
}
.itn-icon-arrow-circle-down:before {
  content: "\e9d2";
}
.itn-icon-arrow-circle-left:before {
  content: "\e909";
}
.itn-icon-arrow-circle-right:before {
  content: "\e90a";
}
.itn-icon-arrow-circle-up:before {
  content: "\e9d3";
}
.itn-icon-arrow-down:before {
  content: "\e90b";
}
.itn-icon-arrow-left:before {
  content: "\e90c";
}
.itn-icon-arrow-right:before {
  content: "\e90d";
}
.itn-icon-arrow-up:before {
  content: "\e90e";
}
.itn-icon-asterik:before {
  content: "\e90f";
}
.itn-icon-attachment:before {
  content: "\e910";
}
.itn-icon-award:before {
  content: "\e911";
}
.itn-icon-bar-chart:before {
  content: "\e912";
}
.itn-icon-bar-chart-alt:before {
  content: "\e913";
}
.itn-icon-base-trace:before {
  content: "\e917";
}
.itn-icon-bitcoin:before {
  content: "\e918";
}
.itn-icon-bookmark:before {
  content: "\e919";
}
.itn-icon-broker:before {
  content: "\e91a";
}
.itn-icon-building:before {
  content: "\e91b";
}
.itn-icon-bullseye:before {
  content: "\e91c";
}
.itn-icon-calculator:before {
  content: "\e91d";
}
.itn-icon-calendar:before {
  content: "\e91e";
}
.itn-icon-calendar-cancel:before {
  content: "\e91f";
}
.itn-icon-calendar-filled:before {
  content: "\e920";
}
.itn-icon-cancel:before {
  content: "\e921";
}
.itn-icon-case:before {
  content: "\e922";
}
.itn-icon-catalog:before {
  content: "\e923";
}
.itn-icon-charge:before {
  content: "\e924";
}
.itn-icon-check:before {
  content: "\e925";
}
.itn-icon-chevron-down:before {
  content: "\e926";
}
.itn-icon-chevron-left:before {
  content: "\e927";
}
.itn-icon-chevron-right:before {
  content: "\e928";
}
.itn-icon-chevron-up:before {
  content: "\e929";
}
.itn-icon-circle-check:before {
  content: "\e92a";
}
.itn-icon-circle-minus:before {
  content: "\e92b";
}
.itn-icon-clipboard:before {
  content: "\e92c";
}
.itn-icon-clock:before {
  content: "\e92d";
}
.itn-icon-clock-five:before {
  content: "\e92e";
}
.itn-icon-clock-three:before {
  content: "\e92f";
}
.itn-icon-clock-two:before {
  content: "\e930";
}
.itn-icon-close-x:before {
  content: "\e931";
}
.itn-icon-cloud:before {
  content: "\e932";
}
.itn-icon-cloud-sun:before {
  content: "\e934";
}
.itn-icon-clouds:before {
  content: "\e933";
}
.itn-icon-code-snippet:before {
  content: "\e935";
}
.itn-icon-cold:before {
  content: "\e936";
}
.itn-icon-comment:before {
  content: "\e937";
}
.itn-icon-completed-loads:before {
  content: "\e938";
}
.itn-icon-configuration:before {
  content: "\e939";
}
.itn-icon-contracts:before {
  content: "\e93a";
}
.itn-icon-credit-card:before {
  content: "\e93b";
}
.itn-icon-date-range:before {
  content: "\e93c";
}
.itn-icon-day-end:before {
  content: "\e93d";
}
.itn-icon-day-start:before {
  content: "\e93e";
}
.itn-icon-delete:before {
  content: "\e940";
}
.itn-icon-desert:before {
  content: "\e941";
}
.itn-icon-document:before {
  content: "\e942";
}
.itn-icon-dollar-alt:before {
  content: "\e943";
}
.itn-icon-down-indicator:before {
  content: "\e944";
}
.itn-icon-download:before {
  content: "\e945";
}
.itn-icon-drag:before {
  content: "\e946";
}
.itn-icon-drizzle:before {
  content: "\e947";
}
.itn-icon-drop-off:before {
  content: "\e948";
}
.itn-icon-early-morning:before {
  content: "\e94a";
}
.itn-icon-edit:before {
  content: "\e94b";
}
.itn-icon-enterprise:before {
  content: "\e94c";
}
.itn-icon-entrustment:before {
  content: "\e94d";
}
.itn-icon-euro:before {
  content: "\e94e";
}
.itn-icon-favorite:before {
  content: "\e94f";
}
.itn-icon-file:before {
  content: "\e950";
}
.itn-icon-file-minus:before {
  content: "\e951";
}
.itn-icon-file-plus:before {
  content: "\e953";
}
.itn-icon-filter:before {
  content: "\e954";
}
.itn-icon-folder:before {
  content: "\e955";
}
.itn-icon-folder-minus:before {
  content: "\e956";
}
.itn-icon-folder-plus:before {
  content: "\e957";
}
.itn-icon-freight:before {
  content: "\e958";
}
.itn-icon-frozen:before {
  content: "\e959";
}
.itn-icon-fullscreen:before {
  content: "\e95a";
}
.itn-icon-fullscreen-exit:before {
  content: "\e95b";
}
.itn-icon-grid:before {
  content: "\e95c";
}
.itn-icon-half-moon:before {
  content: "\e95d";
}
.itn-icon-help:before {
  content: "\e95e";
}
.itn-icon-hide:before {
  content: "\e95f";
}
.itn-icon-history:before {
  content: "\e960";
}
.itn-icon-home:before {
  content: "\e961";
}
.itn-icon-info:before {
  content: "\e962";
}
.itn-icon-insights-dashboard:before {
  content: "\e963";
}
.itn-icon-integration:before {
  content: "\e964";
}
.itn-icon-invoice:before {
  content: "\e966";
}
.itn-icon-item:before {
  content: "\e967";
}
.itn-icon-item-rejected:before {
  content: "\e968";
}
.itn-icon-late-afternoon:before {
  content: "\e969";
}
.itn-icon-library:before {
  content: "\e96a";
}
.itn-icon-lighting:before {
  content: "\e96b";
}
.itn-icon-line-chart:before {
  content: "\e96c";
}
.itn-icon-line-chart-alt:before {
  content: "\e96d";
}
.itn-icon-lock:before {
  content: "\e975";
}
.itn-icon-logout:before {
  content: "\e976";
}
.itn-icon-mail:before {
  content: "\e977";
}
.itn-icon-map-complete:before {
  content: "\e978";
  color: #67ac5c;
}
.itn-icon-map-error:before {
  content: "\e979";
  color: #e25241;
}
.itn-icon-map-marker:before {
  content: "\e97a";
}
.itn-icon-map-needs-review:before {
  content: "\e97b";
  color: #2196f3;
}
.itn-icon-map-warning:before {
  content: "\e97c";
  color: #f5b53f;
}
.itn-icon-marketplace:before {
  content: "\e97d";
}
.itn-icon-menu:before {
  content: "\e97e";
}
.itn-icon-mid-day:before {
  content: "\e97f";
}
.itn-icon-minus:before {
  content: "\e980";
}
.itn-icon-moon:before {
  content: "\e981";
}
.itn-icon-more-horizontal:before {
  content: "\e982";
}
.itn-icon-more-vertical:before {
  content: "\e983";
}
.itn-icon-mountain:before {
  content: "\e984";
}
.itn-icon-my-invoices:before {
  content: "\e985";
}
.itn-icon-network-monitor:before {
  content: "\e986";
}
.itn-icon-new-invoices:before {
  content: "\e987";
}
.itn-icon-night:before {
  content: "\e988";
}
.itn-icon-note:before {
  content: "\e989";
}
.itn-icon-notification:before {
  content: "\e98a";
}
.itn-icon-open-case:before {
  content: "\e98c";
}
.itn-icon-order:before {
  content: "\e98d";
}
.itn-icon-pallet:before {
  content: "\e98e";
}
.itn-icon-password:before {
  content: "\e98f";
}
.itn-icon-percentage:before {
  content: "\e990";
}
.itn-icon-phone:before {
  content: "\e991";
}
.itn-icon-photo:before {
  content: "\e992";
}
.itn-icon-pick-up:before {
  content: "\e993";
}
.itn-icon-pie-chart:before {
  content: "\e994";
}
.itn-icon-pie-chart-alt:before {
  content: "\e995";
}
.itn-icon-plus:before {
  content: "\e996";
}
.itn-icon-po-confirmation:before {
  content: "\e997";
}
.itn-icon-po-creation:before {
  content: "\e998";
}
.itn-icon-po-notification:before {
  content: "\e999";
}
.itn-icon-pound:before {
  content: "\e99a";
}
.itn-icon-price-maintenance:before {
  content: "\e99b";
}
.itn-icon-processing:before {
  content: "\e99c";
}
.itn-icon-pump:before {
  content: "\e99d";
}
.itn-icon-rain:before {
  content: "\e99e";
}
.itn-icon-rain-sun:before {
  content: "\e99f";
}
.itn-icon-refresh:before {
  content: "\e9a1";
}
.itn-icon-remit:before {
  content: "\e9a3";
}
.itn-icon-remove:before {
  content: "\e9a4";
}
.itn-icon-reports:before {
  content: "\e9a5";
}
.itn-icon-rupee:before {
  content: "\e9a6";
}
.itn-icon-search:before {
  content: "\e9a7";
}
.itn-icon-settings:before {
  content: "\e9a9";
}
.itn-icon-share:before {
  content: "\e9aa";
}
.itn-icon-shipper-claim:before {
  content: "\e9ab";
}
.itn-icon-shipping-today:before {
  content: "\e9ac";
}
.itn-icon-shipping-tomorrow:before {
  content: "\e9ad";
}
.itn-icon-shopping-cart:before {
  content: "\e9af";
}
.itn-icon-sort:before {
  content: "\e9b0";
}
.itn-icon-sorting:before {
  content: "\e9b1";
}
.itn-icon-spend:before {
  content: "\e9b2";
}
.itn-icon-stopwatch:before {
  content: "\e9b3";
}
.itn-icon-stopwatch-slash:before {
  content: "\e9b4";
}
.itn-icon-temp:before {
  content: "\e9b5";
}
.itn-icon-temp-empty:before {
  content: "\e9b6";
}
.itn-icon-temp-half:before {
  content: "\e9b7";
}
.itn-icon-temp-three-quarter:before {
  content: "\e9b8";
}
.itn-icon-text:before {
  content: "\e9b9";
}
.itn-icon-thumb-down:before {
  content: "\e9ba";
}
.itn-icon-thumb-up:before {
  content: "\e9bb";
}
.itn-icon-thunder:before {
  content: "\e9bc";
}
.itn-icon-time-and-date:before {
  content: "\e9bd";
}
.itn-icon-tornado:before {
  content: "\e9be";
}
.itn-icon-trees:before {
  content: "\e9bf";
}
.itn-icon-truck:before {
  content: "\e9c0";
}
.itn-icon-truck-loading:before {
  content: "\e9c1";
}
.itn-icon-two-line-chart:before {
  content: "\e9c2";
}
.itn-icon-undo:before {
  content: "\e9c3";
}
.itn-icon-unlock:before {
  content: "\e9c4";
}
.itn-icon-up-indicator:before {
  content: "\e9c5";
}
.itn-icon-upload:before {
  content: "\e9c6";
}
.itn-icon-user:before {
  content: "\e9c7";
}
.itn-icon-users:before {
  content: "\e9c8";
}
.itn-icon-view:before {
  content: "\e9c9";
}
.itn-icon-wallet:before {
  content: "\e9ca";
}
.itn-icon-warning:before {
  content: "\e9cb";
}
.itn-icon-water:before {
  content: "\e9cc";
}
.itn-icon-water-drops:before {
  content: "\e9cd";
}
.itn-icon-weight:before {
  content: "\e9ce";
}
.itn-icon-wind:before {
  content: "\e9cf";
}
.itn-icon-x-dock:before {
  content: "\e9d0";
}
.itn-icon-yen:before {
  content: "\e9d1";
}