.icon {
  height: 65px;
  width: 65px;
  position: relative;
  object-fit: cover;
}
.iconWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xs);
}
.text,
.tripitem {
  position: relative;
}
.text {
  align-self: stretch;
  letter-spacing: 0.04em;
}
.tripitem {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  font-size: var(--components-button-large-size);
  color: var(--color-gray-100);
  font-family: var(--components-button-large);
}
